input[type="number"] {
  width: 3em;
}
  
body {
  --background-color: #918caf;
  --light-grey-color: #F8F8F8;
  --mid-grey-color: #E5E5E5;
  font-family: 'Quicksand';
  color: white;
}

.section {
  width: 100%;
  height: auto;
  /* min-height: 560px; */
  /* background-color: var(--background-color); */
  background-image: url('../images/background-gradient.png'); 
  background-position: center; 
  min-height: 700px;
  position: relative;
  background-size: cover;
  display: flex; 
}

.section.ac {
  background-image: none;
  color: black;
}

.section.bacon {
  background-image: none;
  color: black;
}

.navbar {
  justify-content: left;
  margin-left: 5%;
  margin-top: 2%;
}

.content {
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Codystar';
  font-size: 50px;
}

p, ul, li, a {
  font-family: 'Quicksand';
}
