input[type="number"] {
  width: 3em;
}
  
body {
  --background-color: #918caf;
  --light-grey-color: #F8F8F8;
  --mid-grey-color: #E5E5E5;
  font-family: 'Quicksand';
}

.section {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto; 
  min-height: 700px;
  position: relative;
  background-size: cover;
  display: flex; 
}

.content {
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Codystar';
  font-size: 50px;
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%;
}

p, ul, li, a {
  font-family: 'Quicksand';
}
