input[type="number"] {
  width: 3em;
}
  
body {
  --background-color: #918caf;
  --light-grey-color: #F8F8F8;
  --mid-grey-color: #E5E5E5;
  font-family: 'Quicksand';
}

.section {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto; 
  min-height: 700px;
  position: relative;
  background-size: cover;
  display: flex; 
}

.content {
  justify-content: center;
  width: 100%;
}

h1 {
  font-family: 'Codystar';
  font-size: 50px;
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%;
}

p, ul, li, a {
  font-family: 'Quicksand';
}

.letter {
  height: 80px;
  position:fixed;
  top: -30%;
  z-index: -1;
  -webkit-animation-name:letter-fall, letter-shake;
  -webkit-animation-duration: 5s, 5s;
  -webkit-animation-timing-function:linear;
  /* ease-in-out; */
  /* -webkit-animation-iteration-count:infinite,infinite; */
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:letter-fall, letter-shake;
  animation-duration: 5s, 5s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
  /* ease-in-out; */
  /* animation-iteration-count:infinite,infinite; */
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running;
}

.letter:nth-of-type(0n){
  left:0%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s;
}
.letter:nth-of-type(1n){
  height: 80px;
  left:10%;
  -webkit-animation-duration: 3.5s, 3.5s;
  animation-duration: 3.5s, 3.5s;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
}
.letter:nth-of-type(2n){
  height: 50px;
  left:20%;
  -webkit-animation-duration: 4s, 4s;
  animation-duration: 4s, 4s;
  -webkit-animation-delay:3s,3s;
  animation-delay:3s,3s
}
.letter:nth-of-type(3n){
  height: 90px;
  left:30%;
  -webkit-animation-duration: 5s, 5s;
  animation-duration: 5s, 5s;
  -webkit-animation-delay:4s,4s;
  animation-delay:4s,4s
}
.letter:nth-of-type(4n){
  height: 80px;
  left:40%;
  -webkit-animation-duration: 6s, 6s;
  animation-duration: 3s, 3s;
  -webkit-animation-delay:5.5s,5.5s;
  animation-delay:5.5s, 5.5s;
}
.letter:nth-of-type(5n){
  height: 40px;
  left:7%;
  -webkit-animation-duration: 4.5s, 4.5s;
  animation-duration: 4.5s, 4.5s;
  -webkit-animation-delay:8s,8s;
  animation-delay:8s,8s
}
.letter:nth-of-type(6n){
  height: 30px;
  left:60%;
  -webkit-animation-duration: 2s, 2s;
  animation-duration: 2s, 2s;
  -webkit-animation-delay:0.5s,0.5s;
  animation-delay:0.5s,0.5s;
}
.letter:nth-of-type(7n){
  height: 100px;
  left:70%;
  -webkit-animation-duration: 4.6s, 4.6s;
  animation-duration: 4.6s, 4.6s;
  -webkit-animation-delay:2.5s,2.5s;
  animation-delay:2.5s,2.5s
}
.letter:nth-of-type(8n){
  height: 70px;
  left:80%;
  -webkit-animation-duration: 3s, 3s;
  animation-duration: 3s, 3s;
  -webkit-animation-delay:6s,6s;
  animation-delay:6s,6s
}
.letter:nth-of-type(9n){
  left:90%;
  -webkit-animation-duration: 3.2s, 3.2s;
  animation-duration: 3.2s, 3.2s;
  -webkit-animation-delay:3s,3s;
  animation-delay:3s,3s
}
.letter:nth-of-type(10n){
  height: 100px;
  left:100%;
  -webkit-animation-duration: 1.5s, 1.5s;
  animation-duration: 1.5s, 1.5s;
  -webkit-animation-delay:7s,7s;
  animation-delay:7s,7s
}
.letter:nth-of-type(11n){
  left:35%;
  -webkit-animation-delay:3.5s,3.5s;
  animation-delay:2.5s,2.5s
}

.letter:nth-of-type(12n){
  left:15%;
  -webkit-animation-delay:2.7s,2.7s;
  animation-delay:4s,4s
}

.letter:nth-of-type(13n){
  left:15%;
  -webkit-animation-delay:2.7s,2.7s;
  animation-delay:5s,5s
}

.letter:nth-of-type(14n){
  left:42%;
  -webkit-animation-delay:2.3s,2.3s;
  animation-delay:4s,4s
}

.letter:nth-of-type(15n){
  left:65%;
  -webkit-animation-delay:3s,3s;
  animation-delay:2s,2s
}

.letter:nth-of-type(16n){
  left:28%;
  -webkit-animation-delay:1s,1s;
  animation-delay:2.3s,2.3s
}

.letter:nth-of-type(17n){
  left:18%;
  -webkit-animation-delay:1.7s,1.7s;
  animation-delay:2.4s,2.4s
}

.letter:nth-of-type(18n){
  left:36%;
  -webkit-animation-delay:3.7s,3.7s;
  animation-delay:6s,6s
}

.letter:nth-of-type(19n){
  left:89%;
  -webkit-animation-delay:3.2s,3.2s;
  animation-delay:3s,3s
}

.letter:nth-of-type(20n){
  left:73%;
  -webkit-animation-delay:2.2s,2.2s;
  animation-delay:3.8s,3.8s
}

.letter:nth-of-type(21n){
  left:85%;
  -webkit-animation-delay:4.6s,4.6s;
  animation-delay:7s,7s
}

.letter:nth-of-type(22n){
  left:77%;
  -webkit-animation-delay:3.8s,3.8s;
  animation-delay:6.8s,6.8s
}

.letter:nth-of-type(23n){
  left:92%;
  -webkit-animation-delay:3.3s,3.3s;
  animation-delay:5.8s,5.8s
}

.letter:nth-of-type(24n){
  left:10%;
  -webkit-animation-delay:5.2s,5.2s;
  animation-delay:1.8s,1.8s;
}

.letter:nth-of-type(25n){
  left:75%;
  -webkit-animation-delay:3.9s,3.9s;
  animation-delay:5.8s,5.8s;
}

.letter:nth-of-type(26n){
  left:45%;
  -webkit-animation-delay:4.9s,4.9s;
  animation-delay:7.8s,7.8s;
}
@-webkit-keyframes letter-fall{
  /* 0%{
      top:-10%
  } */
  
  100%{
      top:100%
  }
}

@-webkit-keyframes letter-shake{

  /* 0%,100%{
      -webkit-transform:translateX(0);
      transform:translateX(0)
  } */
  20%{
    -webkit-transform:translateX(50px);
    transform:translateX(50px)
  }
  40%{
    -webkit-transform:translateX(-50px);
    transform:translateX(-50px)
  }
  60%{
      -webkit-transform:translateX(60px);
      transform:translateX(60px)
  }
  80%{
    -webkit-transform:translateX(-40px);
    transform:translateX(-40px)
  }
  100%{
      -webkit-transform:translateX(0px);
      transform:translateX(0px), rotate(40deg);
  }
}

@keyframes letter-fall{

  /* 0%{
      top:-10%
  } */

  100%{
      top:100%
  }
}

@keyframes letter-shake{
  
  /* 0%,100%{
      transform:translateX(0)
  } */
  20%{
    -webkit-transform:translateX(80px);
    transform:translateX(80px)
  }
  40%{
    -webkit-transform:translateX(-80px);
    transform:translateX(-80px)
  }
  60%{
      -webkit-transform:translateX(60px);
      transform:translateX(60px)
  }
  80%{
    -webkit-transform:translateX(-40px);
    transform:translateX(-40px)
  }
  100%{
      -webkit-transform:translateX(0px);
      transform:translateX(0px), rotate(40deg);
  }
}