{% extends 'main.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Codystar:300,400|Quicksand" rel="stylesheet">


{% block header %}
    <h1>{% block title %}Enter at least two words here{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="section">
        <div class="content">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/a.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/b.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/c.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/d.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/e.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/f.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/g.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/h.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/i.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/j.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/k.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/l.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/m.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/n.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/o.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/p.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/q.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/r.png') }}">
                <img class="letter" src="{{ url_for('static',filename='images/letters/lowercase/s.png') }}">
            <form method="POST" action="/">
                <div>
                    Input here:
                    <div>
                        <textarea name="input"></textarea>
                    </div>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

