<!DOCTYPE html>
<html>
  <!-- Head contains meta data and imports -->
  <head>
    <!-- define character set in use -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Codystar:300,400|Quicksand" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <!-- Body contains the page content -->
    {% block header %}{% endblock %}
  <body>
    {% block content %}{% endblock %}
  </body>

</html>

