<!DOCTYPE html>
<html>
  <!-- Head contains meta data and imports -->
  <head>
    <!-- define character set in use -->
    <meta charset="utf-8">
    <title>Poem Generator</title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
  </head>
  <!-- Body contains the page content -->
  <body>
    <form method="POST" action="/">
        Noun:
        <textarea name="noun"></textarea>
        Adjective:
        <textarea name="adj"></textarea>
        Verb:
        <textarea name="verb"></textarea>
        Adverb:
        <textarea name="adv"></textarea>
        Preposition:
        <textarea name="prep"></textarea>
        <button type="submit">Submit</button>
    </form>
  </body>

</html>